<!DOCTYPE html>
<html>
  <head>
    <title>Искусственные ёлочки с доставкой по Алматы</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Пушистые искусственные ёлочки со скидкой 53% и бесплатной доставкой по Алматы в течение суток!" />
  <meta property="og:image" content="http://fastland24.ru/2018/nov/27/elki/i/og.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="../../assets/stylesheet/clear.css" rel="stylesheet">
    <link href="../../assets/stylesheet/style.css" rel="stylesheet">
    <link href="../../assets/stylesheet/typography.css" rel="stylesheet">
    <link href="../../assets/stylesheet/media.css" rel="stylesheet">
    <link href="../../assets/stylesheet/slick.css" rel="stylesheet">
    <script src="../../jquery-3.2.1.min.js"></script>
    <script src="../../slick.min.js"></script>
    <script src="../../jquery.snow.min.1.0.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.js"></script>

  <script type="text/javascript">
    var day=new Date,month=new Array(12);month[0]="января",month[1]="февраля",month[2]="марта",month[3]="апреля",month[4]="мая",month[5]="июня",month[6]="июля",month[7]="августа",month[8]="сентября",month[9]="октября",month[10]="ноября",month[11]="декабря";var month2=new Array(12);month2[0]="Январь",month2[1]="Февраль",month2[2]="Март",month2[3]="Апрель",month2[4]="Май",month2[5]="Июнь",month2[6]="Июль",month2[7]="Август",month2[8]="Сентябрь",month2[9]="Октябрь",month2[10]="Ноябрь",month2[11]="Декабрь";
  </script> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
